
@{
    ViewBag.Title = "Extra";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h1 class="m-0 text-dark" style="text-align:center">@ViewBag.Title</h1>
                <hr />

            </div>
        </div>
    </div>
</div>
<!-- /.content-header -->

